/* Largura, Altura, Borda e Padding */
.caixa {
    width: 200px;
    height: 200px;
    background-color: #e2e8f0;
    border: 2px solid black;
    padding: 15px;
    box-sizing: border-box;
  }
  
  /* Margin */
  .caixa1 {
    margin-bottom: 20px;
  }
  
  /* Bordas Arredondadas */
  .botao-arredondado {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #3182ce;
    color: white;
    border: none;
    border-radius: 8px;
  }